.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


textarea.form-control,
input.form-control {
  background-color: #474b4f;
  color: white;

  &:focus {
    background-color: #515559;
    color: white;
    border-color: #8a5dc7;
  }
}

.form-check-input:checked {
  background-color: #932375;
  border-color: #932375;
}

.form-check-input:focus {
  border-color: #a42682;
  box-shadow: 0 0 0 0.25rem rgb(164 38 130 / 25%);
}

.rb-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #282c34;
  color: white;

  .rekordbox-input,
  .formatted-output {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1em;

    textarea {
      flex-grow: 1;
    }

  }
}

.sidebar {
  width: 350px;
  padding: 1em;
  text-align: left;
  font-size: 1em;
  background-color: #282c34;
  color: white;

  input, textarea {
    font-size: 0.85em;
  }

  & > div {
    margin-bottom: 1em;
  }
}

footer {
  color: #8a8e97;
  font-size: 0.75em;
  border-top: solid 1px #3e434d;
  padding-top: 1em;
  margin-top: 2em;

  a {
    color: #9fa3af;

    &:hover {
      color: #b4b8c5;
    }
  }

}